<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sosftware Store</title>
    <!-- Boostrap 4-->
    <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/ba0c14cc5b.js" crossorigin="anonymous"></script>"

</head>

<body>
    <nav class="navbar navbar-dark bg-primary p-2">
        <div class="container">
            <a href="/" class="navbar-brand">
                Sosftware Store
            </a>
        </div>
    </nav>

    <div class="container p-4">
        {{{ body }}}
    </div>

</body>

</html>